// -----------------
// V A R I A B L E S
// -----------------
$color__dark: #0c0c0c;
$color__light: #f0f5fc;
$color__blue: #3767cb;
$color__blue--light: #c6d9f3;
$color__blue--strong: #2b399e;
$color__red: rgb(158, 0, 0);

$font: 'Ubuntu', sans-serif;
